.first_page {
    padding: 165px 0px 0px 0px;
}
.header_logo {
    width: 195px;
    height: 123px;
    background: url(/img/layer_33_copy_2_859.png)center no-repeat;
    width: 100%;
}



.header_title {
    font-family: "Lato";
    text-align: center;
    margin: 0% auto;
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #ffffff;
    max-width: 766px;
    padding: 159px 0px 49px 0px;
    span{
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    text-transform: none;
    }
    
}



.header_poloska {
    display: block;
    border-bottom: 2px solid white;
    width: 105px;
    height: 2px;
    margin: 0px 0px 227px 904px;

   
}


.header_button {
    width: 182px;
    height: 47px;
    border: 1px solid white;
    text-align: center;
    margin: 0% auto;
    span{
        display: inline-block;
        font-family: "Lato";
        font-size: 16px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 0.06em;
        color: #ffffff;
        text-transform: uppercase;
        padding: 11px 0px 0px 0px; 
    }
}
.header_button:hover{
   
    border: 5px solid pink;
 
}
.strelka{
    margin: 75px 0px 153px 0px;
    width: 17px;
    height: 10px;
    background: url(/img/arrow_down_30.png)center no-repeat;
    width: 100%;
    
}
